service cloud.firestore {
  match /databases/{database}/documents {
  match /venues/{document=**} {
  	allow write: if request.auth != null && isUidInAdminUids(database, request.auth.uid)
  	allow read

  }

  match /{document=**} {
      allow read, write: if false;
    }
  }
  
  // Checks if the authenticated user's uid is present in the admins table.
  function isUidInAdminUids(database, givenUid) {
    return exists(/databases/$(database)/documents/admins/$(givenUid))
  }
}